* {
  box-sizing: border-box
}

html {
  font-size: 16px
}

main {
  background: url(assets/wedding-landing-background.png);
  background-repeat: repeat
}

.header-text,
.subhead-questions,
.ta-center {
  text-align: center
}

.date-container,
.header {
  display: flex;
  align-items: center
}

.footer-text,
.gifts-paragraph,
.locations {
  width: 90%
}

.header,
.header-text {
  width: 100%
}

.break-line,
.questions-break-line {
  width: 50%
}

.contact-paragraphs,
.content-location,
.footer-text,
.gifts-logo,
.gifts-paragraph,
.gifts-title,
.header-text,
.headline,
.location-infos,
.location-logo,
.program-content,
.program-title,
.questions-paragraph,
.questions-title,
.quote,
.subhead-locations {
  padding: 1rem 0
}

.contact-title,
.gifts,
.locations,
.questions,
.subhead-questions {
  padding: 2rem 0
}

.program {
  padding: 1rem
}

.questions {
  padding: 2rem 1rem
}

.contact {
  padding: 2rem 1.5rem
}

.break-line {
  margin-top: .5rem
}

.date-line {
  margin: 0 .5rem
}

.footer-text,
.gifts-paragraph,
.locations {
  margin: 0 auto
}

.header {
  height: 100vh;
  background: url(assets/wedding-landing-cover.jpg);
  background-position: 70% center;
  background-size: cover
}

.date-container {
  justify-content: center
}

.date-line {
  width: 7%
}

.location-logo {
  width: 35%
}

.locations-break-line {
  width: 25%;
  height: .2rem
}

.gifts-logo {
  width: 30%
}

.questions-break-line {
  height: .2rem;
  border: none;
  background-color: #d2ba87
}

.footer {
  background-color: #606060
}

.footer-text {
  color: #fff
}

.header-text,
.program,
.questions {
  background-color: hsla(100, 0%, 0%, .6)
}

.locations-break-line {
  border: none;
  background-color: hsla(100, 0%, 0%, .7)
}

.headline,
.title-style {
  font-family: 'Great Vibes', cursive
}

.contact-paragraphs,
.date,
.gifts-paragraph,
.subhead,
.tagline {
  font-family: 'Libre Baskerville', serif
}

.answer,
.footer-text,
.location-infos,
.program-content,
.questions-paragraph {
  font-family: Muli, sans-serif
}

.answer,
.contact-paragraphs,
.gifts-paragraph,
.location-infos,
.program-content,
.questions-paragraph {
  font-size: 1.125rem
}

.headline {
  font-size: 3.125rem
}

.title-style {
  font-size: 3rem
}

.subhead {
  font-size: 1.5rem
}

.footer-text {
  font-size: .875rem
}

.contact,
.date,
.gifts,
.locations,
.tagline {
  color: #444349
}

.headline,
.program,
.questions {
  color: #d2ba87
}

.answer,
.subhead {
  font-weight: 700
}

.contact-paragraphs,
.date,
.footer-text,
.gifts-paragraph,
.headline,
.location-infos,
.program-content,
.questions-paragraph,
.subhead-questions,
.tagline,
.title-style {
  font-weight: 400
}

.contact,
.gifts-paragraph,
.location-infos,
.program-content,
.questions-paragraph,
.theme {
  line-height: 1.5rem
}

.program-content {
  line-height: 1.8rem
}

.date,
.tagline {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, .9);
  letter-spacing: .15rem
}

.quote {
  font-style: italic
}

a {
  color: #bd806e;
  text-decoration: none
}

a:hover {
  color: #eda087
}

@media (min-width:1008px) {
  .footer-text,
  .headline {
    padding: 2rem 0
  }
  .break-line,
  .location-logo {
    width: 20%
  }
  .flex-container,
  .program,
  .questions {
    display: flex
  }
  .program,
  .questions {
    flex-direction: column
  }
  .content-location,
  .theme {
    width: 33.33%
  }
  .header-text {
    width: 50%;
    margin: 0 auto
  }
  .tagline {
    text-transform: uppercase;
    margin: 1rem 0
  }
  .headline {
    font-size: 7rem
  }
  .date-line {
    width: 3%
  }
  .content-location {
    float: left
  }
  .locations-title {
    padding-bottom: 5rem
  }
  .locations-break-line {
    display: none
  }
  .spacer {
    clear: both
  }
  .program {
    align-items: center
  }
  .program-content {
    width: 30%
  }
  .gifts-logo {
    width: 6%
  }
  .flex-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between
  }
  .theme {
    padding: 3rem
  }
  .subhead-questions {
    text-align: left
  }
  .questions-break-line {
    display: none
  }
  .spacer {
    clear: both
  }
}