/*==== Font families ====*/

font-family: 'Great Vibes', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Muli', sans-serif;

/*==== BASE STYLES ====*/

*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

#content-background{
  background: url(assets/wedding-landing-background.png);
  background-repeat: repeat;
}
/*==== COVER ====*/

#cover{
  width: 100vw;
  height: 100vh;
  background: url(assets/wedding-landing-cover.jpg);
  background-position: 70% center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.cover-text{
  width: 100%;
  text-align: center;
  background-color: hsla(100,0%,0%,.5);
  padding: 1rem;
}


.tagline, .date{
  font-size: 1.25rem;
  color: #444349;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: .15rem;
}

.break-line{
  width: 60%;
}
.headline{
  font-size: 3.125rem;
  color: #d2ba87;
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  padding: 1rem 0 1rem 0;

}

.date-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-line{
  width: 7%;
  margin: 0 .5rem 0 .5rem;
}


@media (min-width: 1008px){
  .cover-text{
    width: 50%;
    margin: 0 auto;
  }
  
  .tagline{
    text-transform: uppercase;
    margin: 1rem 0 1rem 0;
  }
  
  .break-line{
    width: 20%;
  }
  
  .headline{
    font-size: 7rem;
    padding: 2rem 0 2rem 0;
   }
  
  .date-line{
    width: 3%;
  }

}

/*==== LOCATIONS ====*/

#locations{
  width: 100%;
  height: 100%;
  text-align: center;
  color: #444349;
  padding: 2rem 0 2rem 0;
}

h2{
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

h3{
  padding: 2rem 0 2rem 0;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 1.5rem;
  
}

.location-logo{
  width: 30%;
  height: auto;
}

.location-infos{
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 2rem 0 2rem 0;
  line-height: 1.5rem;
}

.locations-break-line{
  width: 25%;
  height: .2rem;
  border: none;
  background-color: hsla(100,0%,0%,.7);
}

@media (min-width: 1008px){
  
  .ceremony, .photos, .party{
    float: left;
    width: 33.33%;
  }

  .locations-title{
    padding-bottom: 5rem;
  }
  .location-logo{
    width: 25%;
    height: auto;
  }
  .locations-break-line{
    display: none;
  }
  .spacer{
    clear: both;
  }
}

/*==== PROGRAM ====*/

#program{
  background-color: hsla(100,0%,0%,.6);
  padding: 2rem 1rem 2rem 1rem;
  color: #d2ba87;
}

.quote, li{
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

.quote{
    font-style: italic;
  padding: 2rem 0;
}

li, .quote{
  line-height: 1.7rem;
}

@media (min-width: 1008px){
  
  #program{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/*==== GIFTS ====*/

#gifts{
  padding: 2rem 1.5rem 0 1.5rem;
  text-align: center;
  color: #444349;
}

.gifts-paragraph{
  padding: 2rem 0;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.gifts-logo{
  width: 40%;
  height: auto;
}

@media (min-width: 1008px){
  
  .gifts-logo{
    width:10%;
    height: auto;
  }
}

